
body, html{
  margin:0;
  padding:0;
  overflow:hidden;
}
#map{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.airport{
  background: transparent;
  border: none;
  text-align:center;
  font-weight:bold;
  margin-left: -30px !important
}

.conflict{
  text-align: center;
  font-size:20px;
  background:transparent;
  border:black;
  color: #F87431;
}

#addAircraftButton{
  position: fixed;
  bottom:20px;
  right:20px;
  width:60px;
  height:60px;
  border-radius: 50%;
  border:none;
  background-color: #000053;
  cursor: pointer;
  color: white;
  font-size:24px;
  transition: background 0.2s;


}

#addAircraftButton:hover{  /* triggers when the user hovers overthe button */
  background-color: #1c1c84;
  color: grey;
}